{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <legend>
            <h1 class="account-page">Register</h1>
        </legend>
    </div>
    <div class="col-12 mt-3 text-right">
        <span>as <a href="{% url 'account:login' %}">Login</a></span>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        {{ error }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-12" style="
        padding-left: 5%;
        padding-right: 0%;">
        <form method="post" action=".">
            {% csrf_token %}
            {% include "form_error.html" %}

            <div class="form-group row mt-3">
                <label for="username" class="col-sm-2 col-form-label" style="width:20%;">ID</label>

                <div style="width:70%;">
                    <input type="text" class="form-control" name="username" id="username"
                           value="{{ form.username.value|default_if_none:'' }}">
                </div>
            </div>

            <div class="form-group row mt-3">
                <label for="nickname" class="col-sm-2 col-form-label" style="width:20%;">Name</label>

                <div style="width:70%;">
                    <input type="text" class="form-control" name="name" id="name"
                           value="{{ form.nickname.value|default_if_none:'' }}">
                </div>
            </div>

            <div class="form-group row mt-3">
                <label for="password1" class="col-sm-2 col-form-label" style="width:20%;">Password</label>

                <div style="width:70%;">
                    <input type="password" class="form-control" name="password1" id="pwd1" placeholder="비밀번호는 8자리 이상 입력해 주세요 ." onfocus="this.placeholder=''"
                            onblur="this.placeholder='비밀번호는 8자리 이상 입력해 주세요 .'"
                           value="{{ form.password1.value|default_if_none:'' }}">
                </div>
            </div>

            <div class="form-group row mt-3">
                <label for="password2" class="col-sm-2 col-form-label" style="width:20%;">Re-Password</label>

                <div style="width:70%;">
                    <input type="password" class="form-control" name="password2" id="pwd2" placeholder="비밀번호는 8자리 이상 입력해 주세요 ." onfocus="this.placeholder=''"
                            onblur="this.placeholder='비밀번호는 8자리 이상 입력해 주세요 .'"
                           value="{{ form.password2.value|default_if_none:'' }}">
                </div>
            </div>

            <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
            <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label" style="width:20%;">Email</label>

                <div style="width:70%;">
                    <input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.value|default_if_none:'' }}">
                </div>
            </div>


            <div class="mt-5 text-center" style="padding-right:5%;">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
    $("#alert-success").hide();
    $("#alert-danger").hide();
    $("input").keyup(function(){
        var pwd1=$("#pwd1").val();
        var pwd2=$("#pwd2").val();
        if(pwd1 != "" || pwd2 != ""){
            if(pwd1 == pwd2){
                $("#alert-success").show();
                $("#alert-danger").hide();
                $("#submit").removeAttr("disabled"); }else{
                    $("#alert-success").hide();
                    $("#alert-danger").show();
                    $("#submit").attr("disabled", "disabled");
                }
            }
        });
    });
</script>

{% endblock %}