.container {
    padding-top: 120px;
}

.sign-form {
    margin-top: 50px;
}

.sign-button {
    margin: auto;
    width:100%
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#write-tab {
    margin-left: auto;
}

img {
    max-width: 100%;
    height: auto;
}

#button-pri {
    text-align: right;
}

.post-recommend {
    margin-right: 5px;
}

.post-modify {
    margin-left: auto;
    margin-right: 5px;
}

#post-align {
    border-width: 0px 1px 2px 1px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('arrow.png') no-repeat 95% 50%;
}