.container {
    padding-top: 120px;
}

.sign-form {
    margin-top: 50px;
}

.sign-button {
    margin: auto;
    width:100%
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#write-tab {
    margin-left: auto;
}
