{% load static %}
<html lang="ko">
<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,
                               minimum-scale=1.0,maximum-scale=1.0,
                               user-scalable=no" />

    <!--  CSS, JS  -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/summernote-lite.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}">

    <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/summernote-lite.js' %}"></script>
    <script src="{% static '/js/summernote-ko-KR.js' %}"></script>

    <title>우덜의 소통공간^^</title>


    {% block header %}
    {% endblock %}

    <style type="text/css">
    a { text-decoration:none }
    </style>

</head>
<body>
{% include "navbar.html" %}

<div class="container">
{% block contents %}
{% endblock %}
</div>


{% block script %}
{% endblock %}

<script>
    function dp_menu(){
        let click = document.getElementById("navbarColor03");
        if(click.style.display === "block"){
            click.style.display = "none";

        }else{
            click.style.display = "block";

        }
    }
</script>


</body>
</html>