{% extends "base.html" %}
{% load filter %}
{% load humanize %}

{% block contents %}

<!-- 사용자오류 표시 -->
{% if messages %}
<div class="alert alert-warning my-3" role="alert">
    {% for message in messages %}
	<strong>{{ message.tags }}</strong>
	<ul><li>{{ message.message }}</li></ul>
    {% endfor %}
</div>
{% endif %}

<div class="jumbotron">

	<!-- Title 영역 -->
	<div class="col-12">
		<div>
			<h6 class="text-info">T i t l e</h6>

		</div>
		<div class="mt-4">
			<h1><strong>{{ post.title }}</strong></h1>
			<div class="mt-4" id="write-date">
				{% if post.author.username == "admin" %}
				<span>
					<small class="text-danger">{{ post.author.username }} </small>
				</span>
				<span>
				    <small class="text-muted"> - {{ post.create_date|date:'Y년 m월 d일 H:i' }} {% if post.modify_date %} (수정됨) {% endif %}</small>
				</span>
				{% else %}
				<span>
					<small class="text-muted">{{ post.author.username }} </small>
				</span>
				<span>
				    <small class="text-muted"> - {{ post.create_date|date:'Y년 m월 d일 H:i' }} {% if post.modify_date %} (수정됨) {% endif %}</small>
				</span>
				{% endif %}
			</div>

			<div class="mt-3">
				<ul class="nav">
					<li class="nav-item post-recommend">
						<a href="#" class="recommend btn btn-sm btn-outline-secondary" data-uri="{% url 'soogle:post_vote' post.id  %}">추천</a>
					</li>
					
					<li class="nav-item post-list">
						<a href="{% url 'soogle:post_list' %}" class="btn btn-sm btn-outline-secondary">목록</a>
					</li>

					{% if request.user == post.author %}
					<li class="nav-item post-modify">
						<a href="{% url 'soogle:post_modify' post.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
					</li>

					<li class="nav-item post-delete">
						<a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'soogle:post_delete' post.id  %}">삭제</a>
					</li>
					{% endif %}
				</ul>
			</div>

		</div>
	</div>


	<!-- Contents 영역 -->
	<div class="col-12">
		<hr class="my-4">
		<h6 class="text-info">C o n t e n t s</h6>
		<div class="mt-4">
			<div>
				<div>
					<div class="card-text">{{ post.contents|mark }}</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Comment 영역 -->

	<div class="col-12">
		<hr class="my-4 mt-3">
		<h6 class="text-info">C o m m e n t</h6>

		{% for comment in post.comment_set.all %}
		<div>
			<span style="white-space: pre-line;">{{ comment.contents }}</span>

	        <!-- 질문 댓글 작성 시간 -->
			<span class="text-muted"> - </span>
			{% if comment.author.username == "admin" %}
			<small class="text-danger">
	         {{ comment.author }} {% if comment.modify_date %} (수정됨) {% endif %}
	        </small>
			{% else %}
	        <small class="text-muted">
	        {{ comment.author }} {% if comment.modify_date %} (수정됨) {% endif %}
	        </small>
			{% endif %}
		</div>
		{% endfor %}
	</div>

	<form action="{% url 'soogle:comment_write' post.id %}" method="post" class="my-3">
        {% csrf_token %}
		{% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
              name="contents" id="contents" class="form-control" rows="3"></textarea>
        </div>
        <input {% if not user.is_authenticated %}disabled{% endif %} type="submit" value="Submit" class="btn btn-danger">
    </form>
</div>

	{% endblock %}

	{% block script %}

<script>
$(document).ready(function() {
  $('#summernote').summernote({
    toolbar: [
      ['style', ['style']],
      ['font', ['bold', 'italic', 'underline', 'clear']],
      ['fontname', ['fontname']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['height', ['height']],
      ['table', ['table']],
      ['insert', ['link', 'picture', 'hr']],
      ['view', ['fullscreen', 'codeview']],
      ['mybutton', ['myVideo']] // custom button
    ],

    buttons: {
      myVideo: function(context) {
        var ui = $.summernote.ui;
        var button = ui.button({
          contents: '<i class="fa fa-video-camera"/>',
          tooltip: 'video',
          click: function() {
            var div = document.createElement('div');
            div.classList.add('embed-container');
            var iframe = document.createElement('iframe');
            iframe.src = prompt('Enter video url:');
            iframe.setAttribute('frameborder', 0);
            iframe.setAttribute('width', '100%');
            iframe.setAttribute('allowfullscreen', true);
            div.appendChild(iframe);
            context.invoke('editor.insertNode', div);
          }
        });

        return button.render();
      }
    }
  });
});
</script>

<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
    $(".recommend").on('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>


{% endblock %}
