{% extends "base.html" %}

{% block contents %}

<form method="post">
    {% csrf_token %}
    <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    <div class="jumbotron">
        <h1 class="display-3 text-info">POST</h1>
        <hr class="my-4">
        <div class="form-group">
          <label class="col-form-label col-form-label-lg text-info" for="inputLarge">T i t l e</label>
          <input type="text" class="form-control form-control-lg" name="title" id="title" value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <hr class="my-4">
        <div class="form-group">
            <label class="col-form-label col-form-label-lg text-info" for="inputLarge">C o n t e n t s</label>

            <textarea name="contents" id="summernote" >{{ form.contents.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-danger btn-lg btn-block mt-5" >Submit</button>

    </div>
</form>

{% endblock %}

{% block script %}

<script>
    $(document).ready(function() {
     $('#summernote').summernote({
             height: 300,                 // set editor height
             minHeight: null,             // set minimum height of editor
             maxHeight: null,             // set maximum height of editor
             focus: true                  // set focus to editable area after initializing summernote
     });
});

$(document).ready(function() {
  $('#summernote').summernote();
});


</script>

{% endblock %}